body {
    background-color: aquamarine;
}

header>h1 {
    color: blueviolet;
    text-align: center;
    font-size: 60px;
    margin: 25px;
}

.enemy {
    text-align: center;
    color: black;
    font-size: 25px;
}

.enemy>p {
    font-size: 30px;
    text-align: center;
    margin: 5px auto;
    border: 3px solid;
    border-color: white;
    width: 150px;
}

.score {
    text-align: center;
}

.myScore {
    padding: 10px;
    margin: 10px auto;
    border: 3px solid white;
    text-align: center;
    width: 50px;
    font-size: 30px;
}

.pon {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

.pon>p {
    margin: 0;
}

.result {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.result>p {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.jyanken {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.jyanken>p {
    margin: 0;
    text-align: center;
}

.jyanken>button {
    padding: 5px;
    height: 60px;
    width: 60px;
}

.reset {
    margin: 10px ;
    text-align: center;
}

.reset>button {
    padding: 5px;
    height: 30px;
    width: 100px;
}

.commentClass {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid;
    border-color: black;
    background-color: aliceblue;
}

.commentClass>h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.commentClass>h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.commentClass>p {
    font-size: 15px;
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
}

.commentClass>ul{
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 5p;
    padding-left: 10px;
}
